/*===============================================*/
/*INICIO FAQS                                    */
/*===============================================*/
/*************************************************/
/*CSS FAQS PARA DISPOSITIVOS DESKTOP HABITUALES*/
main {
  padding-bottom: var(--footer-height + 3em);
  height: fit-content;
  display: flex;
  align-items: center;
}
#contenedorFaqs {
  /* position: absolute; */
  top: 10%;
  left: 20%;
  height: fit-content;
  width: 60%;
  text-align: center;
  /* overflow: auto; */
  box-shadow: 0px 0px 40px #536b78;
  border-radius: 5px;
}
#contenedorFaqs h1 {
  margin-bottom: 0.4em;
}
.desplegablesFaqs {
  position: relative;
  height: auto;
  width: 100%;
  font-size: 1.8em;
  background-color: lightblue;
  text-align: center;
  border: 1px solid black;
}
.preguntasFaqs {
  background-color: #7c98b3;
  height: auto;
  padding: 1%;
  cursor: pointer;
}
.preguntasFaqs:hover {
  color: white;
  font-weight: bold;
}
.pFaqs {
  display: none;
  text-align: left;
  padding: 1%;
}
/*************************************************/
/*CSS FAQS PARA DISPOSITIVOS DESKTOP MAX-HEIGHT: 600PX*/
@media only screen and (max-height: 600px) {
  main {
    padding-bottom: var(--footer-height + 3em);
    height: fit-content;
  }
  #contenedorFaqs {
    /* position: absolute; */
    top: 30%;
    left: 20%;
    height: fit-content;
    width: 60%;
    text-align: center;
    /* overflow: auto; */
  }
}

/*************************************************/
/*CSS FAQS PARA DISPOSITIVOS MÓVILES MAX-WIDTH:400PX*/
main {
  padding-bottom: var(--footer-height + 3em);
  height: fit-content;
}
@media only screen and (max-width: 800px) {
  #contenedorFaqs {
    /* position: absolute; */
    top: 10%;
    left: 10%;
    height: fit-content;
    width: 80%;
    text-align: center;
    overflow: auto;
    box-shadow: 0px 0px 40px #536b78;
    border-radius: 5px;
  }
}
/*===============================================*/
/*FIN FAQS                                    */
/*===============================================*/
