:root {
  --primary-color: #cee5f1;
  --header-height: 3em;
  --footer-height: 40px;
  --margin-1080p: 1em;
}

*,
*::after,
::before {
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

header {
  background: var(--primary-color);
  height: var(--header-height);
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#logo-container {
  margin: 0;
}

#logo {
  margin: 0;
  padding-left: 1.5em;
  filter: drop-shadow(-1px 1px 0px #222);
}

nav {
  margin: 0;
  padding-right: 1.5em;
}
nav > ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

ul > li {
  margin-right: 1em;
  list-style: none;
}

a {
  text-decoration: none;
  color: #222;
}

ul > li:last-child {
  margin-right: 0px auto;
}

#logo {
  height: 2em;
}

main {
  min-height: calc(100vh - var(--header-height) - 40px - 2em);
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.2em;
  row-gap: 3.4em;
  margin-top: var(--margin-1080p);
  margin-bottom: calc(var(--margin-1080p) + var(--footer-height));
}

@media only screen and (max-width: 940px) {
  main {
    padding-bottom: calc(var(--footer-height) + 15em);
  }
}

footer {
  position: fixed;
  padding: 10px 10px 0px 10px;
  bottom: 0;
  width: 100%;
  height: var(--footer-height);
  background: #7c97b2;
}

#footer-list {
  float: right;
  display: flex;
  flex-direction: row;
}

.footer-list-item {
  text-transform: uppercase;
  position: relative;
}

.footer-list-item::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 2px;
  background-color: #0074d9;
  transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

@media (hover: hover) and (pointer: fine) {
  .footer-list-item:hover::before {
    left: 0;
    right: auto;
    width: 100%;
  }
}

.icon {
  width: 32px;
}
