:root {
  --primary-color: #7c98b3;
  --header-height: 3em;
}

*,
*::after,
::before {
  margin: 0 auto;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

header {
  background: var(--primary-color);
  padding: 10px 10px 0px 10px;
  height: var(--header-height);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#logo {
  margin: 0;
  padding-left: 1.5em;
}

nav {
  margin: 0;
  padding-right: 1.5em;
}

nav > ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

ul > li {
  margin-right: 1em;
  list-style: none;
}

a {
  text-decoration: none;
  color: whitesmoke;
}

ul > li:last-child {
  margin-right: 0px auto;
}

#logo {
  height: 2em;
}

.news {
  margin-left: 20vw;
}

.tutoriales {
  margin-right: 20vw;
}

footer {
  position: fixed;
  padding: 10px 10px 0px 10px;
  bottom: 0;
  width: 100%;
  /* Height of the footer*/
  height: 40px;
  background: grey;
}

#footer-list {
  float: right;
  display: flex;
  flex-direction: row;
}

.footer-list-item {
  text-transform: uppercase;
}